:root {
    --g1: rgb(98, 0 , 234);
    --g2: rgb(236, 64 , 122);

}

@font-face {
    font-family: custom_caligraphy;
    src: url('/fonts/LilJohnny_PERSONAL_USE_ONLY.otf');
}

@font-face {
    font-family: default_font;
    src: url('/fonts/Montserrat-VariableFont_wght.ttf');
}
a{
    
    text-decoration: none;
    color: inherit;
}
body{
    
    font-family: default_font;
    background: linear-gradient(
        to right,
        var(--g1),
        var(--g2),
        var(--g1)
    );
    animation: background-anim 10s linear infinite;
    background-size: 200%;
    height: 100vh;
    overflow: hidden;
    margin: 0px;
}

@keyframes background-anim {

    from{
        background-position: 0% center;
    }
    to{
        background-position: -200% center;
    }
    
}


#tiles{
    height: 100vh;
    width: 100vw;

    display: grid;  
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);

}

.tile{
    position: relative;
}


.tile:before{
    background-color: rgb(20, 20, 20);
    content: "";
    position: absolute;
    inset: 0.6px;
}

.tile:hover{

    opacity: 0.6;
    
}

.centered{  
    left: 50%;
    position: absolute;
    top: 30%;
    transform: translate(-50%, -50%);
    
}

#title{
    color: white;
    font-size: 1.5w;
    line-height: 1.2em;
    width: 100%;
    background-color: #4a0a6f;
    padding: 5rem;
    text-align: center;
    
    font-weight: 1;
    animation: load_animation 1s linear;
}





@keyframes load_animation {

    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
    
}





nav{
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);

    color: white;
    font-size: 3vw;
    padding: 1rem;

}

.nav_links ul{
    display: grid;
    grid-gap: 15vw;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
}

.nav_links li{
    cursor: pointer;
    transition: 0.2s ease;
    
}

.nav_links__active{
    transform: scale(2);
}
.nav_links__active:hover{
    transform: scale(1.8);
    color: #F56EB3;
}
.nav_links__unactive:hover{
    color: #F56EB3;
    transform: scale(1.1);
}

@media only screen and (max-width: 850px) {

    #title{
        font-size: 9vw;
    }
    
    
}
@media only screen and (max-width: 500px) {

    #title{
        font-size: 15vw;
        line-height: 2em;
    }.centered{  
        left: 50%;
        position: absolute;
        top: 25%;
        transform: translate(-50%, -50%);
        
    }


    
    
}
