@font-face {
    font-family: defaultFont;
    src: url("/fonts/JetBrainsMono-Regular.ttf");
}

body{
    padding: 0;
    margin: 0;
    background-color: #282a36;
    font-family: defaultFont;
}
a{
    text-decoration: none;
    color: inherit;
}


.container{
    color: #f8f8f2;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    text-align: center;
}

.main{
    display: grid;
    justify-items: center;
}
.main h1{
    font-size: 3rem;
}
.aboutme{
    width: 40%;
    font-size: 2rem;
}
.hey{
    color: #ff79c6;
}
.socials{
    font-size: 1rem;
    display: grid;
    margin: 5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
}
.socials span{
    cursor: pointer;
    font-size: 2rem;
    
}
.socials span:hover{
    color: #bd93f9;
}

@media only screen and (max-width: 600px) {
    .socials span{
        font-size: 100%;
    }
    

}
