@font-face {
    font-family: defaultFont;
    src: url("/fonts/Montserrat-VariableFont_wght.ttf");
}

body{
    padding: 0;
    margin: 0;
    background-color: #141414;
    font-family: defaultFont;
}
a{
    text-decoration: none;
    color: inherit;
}
.container{
    color: white;
    display: grid;
    height: 70vh;
    justify-items: center;
    grid-template-columns: 1fr;
    text-align: center;
}
h1{
    font-size: 4vw;
}

.intro{
    display:grid;
}

.header{
    margin: 4rem;
}

.header_sub{
    color: blueviolet;
}

.about_me{
    font-size: 2vw;
}
.about{
    display: grid;
    justify-items: center;
    align-items: center;
}

.socials{
    font-size: 1rem;
    display: grid;
    margin: 5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
}
.socials span{
    cursor: pointer;
    font-size: 2rem;
    
}
.socials span:hover{
    color: blueviolet;
}

@media only screen and (max-width: 600px) {
    .about_me{
        
        font-size: 1vw;
        width: 50%;
        font-size: 4vw;
    }

    .socials span{
        font-size: 100%;
    }
    
h1{
    font-size: 2rem;
}
}